.profile {
  position: relative;
  width: 100vw;
  background: var(--light-clr);
  display: flex;
}
.menu {
  flex: 1.5;
  background: var(--accent-clr);
  height: 100vh;
  overflow: hidden;
}
.profile-main {
  flex: 5.5;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--accent-clr);
  height: 100vh;
  overflow: hidden;
  width: 100vh;
  display: none;
  z-index: 4000;
}
.floating-btn {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  background-color: var(--primary-clr);
  color: var(--light-clr);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4001;
}
.floating-icon {
  width: 48px;
  height: 48px;
}

@media (max-width: 540px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
